html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;
  font-family: sans-serif;
  user-select: none;
}

img {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#hud {
  position: absolute;
  width: 100%;
  height: 100%;
}

#coos {
  position: absolute;
  top:0;
  right:0;
}

#chatdiv {
  position: absolute;
  bottom:0;
  left: 0;
  width: 25%;
  height: 25%;
  background-color: rgba(25, 25, 25, 0.6);
}

input[name="rooms"] {
   display: none;
}

input[name="rooms"] + label { 
  display: inline-block;
  border: 1px solid #999;
  padding: 4px 12px;
  border-radius: 4px 4px 0 0;
  background-color: rgba(25, 25, 25, 0.6);
}

.tab {
  display: none;
  list-style: none;
  padding: 0;
}

input[name="rooms"]:checked + label {
  border-bottom: none;
}

#global:checked ~ .tab#globalbox,
#local:checked ~ .tab#localbox { 
  display: block;
}

#chatinput {
  padding: 3px;
  width: 90%;
  height: 2em;
  background-color: transparent;
  border: 1px solid white;
  bottom: 3%;
  left: 5%;
  position: absolute;
  color: white;
}

#inventoryAround {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 25, 25, 0.6);
  padding: 16px;
  border-radius: 16px;
}

#containerAround {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 16px;
  border-radius: 16px;
}

#container, #inventory {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 660px;
}

.item {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  width: 64px;
  height: 64px;
}

.selected {
  background-color: rgba(25, 25, 25, 0.6);
}

.item img, .item .amount {
  cursor: pointer;
}

.item img {
  width: 64px;
  height: 64px;
}

.item .legend {
  visibility: hidden;
  width: 200px;
  background-color: black;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.item:hover .legend {
  visibility: visible;
}

.item .legend:hover {
  visibility: hidden;
}

.item .amount {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  -webkit-text-stroke: 2px black;
  font-weight: bold;
  font-size: 24px;
}
