html {
  height: 100%;
}

body {
  margin: 0;
  border: 0;
  background-color: black;
  height: 100%;
  overflow: hidden;
}

#panel {
  display: inline-block;
  height: 100%;
  width: 15%;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  background-color: #282C34;
}

#canvasContainer {
  display: inline-block;
  max-width: 85%;
  width: 85%;
  height: 100%;
  overflow: scroll;
}

#startmenu {
  display: inline-block;
  width: 50%;
  height: 100%;
}

#tilelist {
  border-bottom: 1px solid white;
}

#proplist > img:hover {
  filter: brightness(200%);
}

#proplist > img.selected {
  border: 2px solid red;
}

#exportOutput {
  display: none;
}

button {
  font-size: 1.5em;
  padding: 0;
}
