body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

#panel {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 15%;
  overflow-y: auto;
  border-left: 1px solid white;
  color: white;
  background-color: #282C34;
}

#tilelist {
  border-bottom: 1px solid white;
}

#exportOutput {
  display: none;
}

button {
  font-size: 1.5em;
  padding: 0;
}
